*{
    margin: 0%;
    padding: 0%;
}
.icon{
    padding-left: 110px;
    font-size: 25px;
    margin-top: 30px;
}
.icon:hover{
    color: orangered;
}
.box{
    background-color:#7fc0ca;
    /* width:100%; */
    height: 400px;
    padding: 60px;
    color: white;
} 
.heading{
    margin-bottom: 20px;
    margin-left: 50px;
}
.para{
     width: 100vh;
     margin-top: 70px;
     margin-left: 50px;
     font-size: 21px;
}
.button{
    border-radius: 110px;
    background-color: white;
    width: 220px;
    height: 60px;
    border: white;
    margin-top: 70px;
    margin-left:40px ;
    font-size: 1.25rem;
    text-transform: uppercase;
   
    
    
    
}
.button:hover{
    background-color: black;
    color: white;
}
.project{
    text-align: center;
    margin-top: 30px;
    font-size: 15px;
}
.free{
    margin-top: 20px;
}
.container-one{
    margin-left: 130px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    width: 1100px;
    
}
.container-two{
    background-color: #333333;
    color: white;
    height: 550px;
    margin-top: 40px;
    
}
.people{
    margin-left: 90px;
    
}
.what{
    margin-left: 100px;
    padding-top: 80px;
    margin-bottom: 20px;
}
.logic{
    display: grid;
    grid-template-columns: 400px 400px 400px;
    /* column-gap: 80px; */
    
}
.proin{
    font-size: 20px;
}
.stella{
    background-color: white;
    color: black;
    width: 300px;
    height: 290px;
    
    margin-left: 100px;
    /* margin-right: 10px; */
    padding: 20px;
}
.stella-two{
    background-color: white;
    color: black;
    width: 300px;
    height: 290px;
    
    margin-left: 80px;
    padding: 20px;
}
.prakash{
    background-color: white;
    color: black;
    width: 300px;
    height: 290px;
    
    margin-left: 60px;
    padding: 20px;

}
.name{
    color: #7fc0ca;
}




.man{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #7fc0ca;
}
.day{
    margin-bottom: 20px;
    margin-top: 5px;
    color: #b3b3b3 ;
    padding-top: 50px;
}
.big{
    font-size: 40px;
}
.our{
    text-align: center;
    margin-top: 30px;
    
}
.velit{
    margin-top: 20px;
    font-size: large;
    width: 692px;
    margin-left: 350px;
    font-weight: 200;
}
.pik{
    margin-top: 20px;
}
.pic{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 1120px;
    gap: 20px;
    margin-left: 140px;
    margin-top: 20px;
    
}
.verify{
    background-color: #333333;
    color: white;
    margin-top: 50px;
    padding-bottom: 20px;
   
}
.check{
    display: grid;
    grid-template-columns: auto auto auto;
   
}
.raise{
    display: grid;
    color:white;
    margin-top: 40px;
    margin-left: 150px;
    padding: 20px;
    width: 300px;
    height: 400px;
}

.underline{
    border-bottom: 1px solid white;
    margin-bottom: 160px;
}
.add{
    display: grid;
    color: white;
    margin-top: 60px;
    width: 250px;
    height: 400px;
    margin-right: 40px;
}
.website{
    display: grid;
    color: white;
    margin-top: 60px;
    width: 250px;
    height: 400px;

}
.social{
    margin-top: 10px;
    color:#7fc0ca;
    font-size: 30px;
    margin-left: 10px;
    
}

.manpic{
    margin-top: 200px;
}
.wal{
    margin-bottom: 50px;
}
.end-1{
    text-align: center;
    margin-top: 100px;
    font-size: 15px;
}
.end-2{
    margin-left:550px ;
    padding-top: 80px;
    
}
a{
    color: #7fc0ca;
}
.mon{
    font-family: 'Montserrat', sans-serif;
}
.open{
   
font-family: 'Open Sans', sans-serif;

}
.con{
    padding: 5px;
}
.email{
    font-size: 20px;
}
.number{
    font-size: 20px;
}
.element{
   padding-top: 250px;
}
.sample{
    padding-top: 40px;
}